<template>
    <v-icon size="18" v-if="trend === 'increase'" color="success">mdi-arrow-up-box</v-icon>
    <v-icon size="18" v-else-if="trend === 'decrease'" color="error">mdi-arrow-down-box</v-icon>
    <v-icon size="18" v-else-if="trend === 'equal'" color="grey">mdi-equal-box</v-icon>
</template>

<script lang="ts">
import { PropType } from 'vue'
import { Trend } from '@/src/types/currency'

export default {
    props: {
        trend: {
            type: String as PropType<Trend>,
            default: null
        }
    }
}
</script>