<template>
  <v-app>
    <v-main>
      <v-card max-width="750" class="mx-auto mt-3" variant="outlined" color="grey" rounded="lg">
        <v-progress-linear v-if="loading" indeterminate color="primary" />

        <v-data-table :headers="headers" :items="conversionRates" :items-per-page="-1">
          <template #item.timestamp="{ item }">
            <v-tooltip location="bottom">
              <template #activator="{ props }">
                <span v-bind="props">
                  {{ dayjs(item.timestamp).utc('z').fromNow() }}
                </span>
              </template>

              <span>
                {{ dayjs(item.timestamp).format("YYYY-MM-DD HH:mm:ss (Z)") }}
              </span>
            </v-tooltip>
          </template>

          <template #item.rate="{ item }">
            <v-tooltip location="bottom">
              <template #activator="{ props }">
                <span v-bind="props">
                  <trend-icon :trend="item.trend"/>

                  <span :class="getLabelClass(item)">
                    {{ Number(item.rate).toLocaleString() }}
                  </span>

                  <trend-icon :trend="item.trend"/>
                </span>
              </template>

              <span>
                Bid Rate: {{ Number(item.bidRate).toLocaleString() }}
                <br>
                Ask Rate: {{ Number(item.askRate).toLocaleString() }}
              </span>
            </v-tooltip>
          </template>

          <template #item.currencies="{ item }">
            <v-tooltip location="bottom">
              <template #activator="{ props }">
                <span v-bind="props">
                  {{ item.from }}
                  <v-icon color="grey" class="mx-1">mdi-arrow-right</v-icon>
                  {{ item.to }}
                </span>
              </template>

              <span>
                {{ item.fromFullName }}
                <v-icon color="grey" class="mx-1">mdi-arrow-right</v-icon>
                {{ item.toFullName }}
              </span>
            </v-tooltip>
          </template>
        </v-data-table>
      </v-card>
    </v-main>
  </v-app>
</template>

<script setup lang="ts">
import { onMounted, onUnmounted, ref, computed} from 'vue'
import { useAppStore } from '@/store/app'
import dayjs from '@/utils/extendedDayjs.ts'
import useCurrencyConversion from '@/services/currencyConversion'
import trendIcon from "@/components/trendIcon.vue"

import type { Ref } from 'vue'
import type { Currency, ConversionRate } from '@/src/types/currency'

const store = useAppStore()

const conversionRates: Ref<Array<ConversionRate>> = ref([]);
const interval: Ref<any> = ref(null);
const loading = computed(() => store.loading)

// you can change the currencies, but you will need to provide an apiKey in src/services/currencyConversion.ts
const from: Currency = 'USD';
const to: Currency = 'JPY';

const { fetchCurrencyConversion } = useCurrencyConversion()

onMounted(() => {
  getLatestConversionRate(from, to)

  interval.value = setInterval(() => {
    getLatestConversionRate(from, to)
  }, 15 * 1000)
})

onUnmounted(() => {
  clearInterval(interval.value)
})

function getLatestConversionRate(from: Currency, to: Currency) {
  fetchCurrencyConversion(from, to)
    .then((r) => {
      if (conversionRates.value.length) {
        const lastRate = conversionRates.value[0]
        if (lastRate.timestamp === r.timestamp) {
          return // skip adding, since that rate is already included in the array
        }

        if (r.rate > lastRate.rate) {
          r.trend = "increase"
        } else if (r.rate < lastRate.rate) {
          r.trend = "decrease"
        } else {
          r.trend = "equal"
        }
      }
      conversionRates.value.unshift(r)
    })
    .catch(e => {
      console.log(e)
    })
}

const headers = ref([
  { value: "currencies", title: "Converting", align: "center" },
  { value: "rate", title: "At Conversion Rate Of", align: "center" },
  { value: "timestamp", title: "As Of", align: "center" },
])

function getLabelClass(item: ConversionRate) {
  switch (item.trend) {
    case 'increase': return 'text-success'
    case 'decrease': return 'text-error'
    case 'equal': return 'text-grey'
    default: return ""
  }
}
</script>

<style scoped lang="scss">
main {
  text-align: center;
}

:deep(.v-data-table-footer) {
    display: none;
}


@media (min-width: 1024px) {
  // 
}
</style>
